/* ==========================================================================
   Config - Font weights

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */
$font-weights: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700
);
