/* ==========================================================================
   Config - Fonts

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Webfonts
========================================================================== */
$fonts: (
    base: ( 'Swiss', sans-serif ),
    alt: ( 'Garamond', serif )
);
