/* ==========================================================================
   Config - Icons

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */
$icomoon-font-path: '../fonts/icomoon';

$icon-account: "\e900";
$icon-actions: "\e901";
$icon-add: "\e902";
$icon-approve: "\e903";
$icon-arrow-left: "\e904";
$icon-arrow-right: "\e905";
$icon-check: "\e906";
$icon-close: "\e907";
$icon-contact: "\e908";
$icon-dropdown: "\e909";
$icon-edit: "\e90a";
$icon-error: "\e90b";
$icon-faq: "\e90c";
$icon-hamburgermenu: "\e90d";
$icon-home: "\e90e";
$icon-info: "\e90f";
$icon-logout: "\e910";
$icon-newuser: "\e911";
$icon-pdf: "\e912";
$icon-print: "\e913";
$icon-profile: "\e914";
$icon-remove: "\e915";
$icon-request: "\e916";
$icon-search: "\e917";
$icon-settings: "\e918";
$icon-csv: "\e919";
$icon-review: "\e920";
$icon-release: "\e91a";
$icon-persons: "\e91b";
